@import "reset.css";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    height: 100vh;
    background: url("../images/back_img.png") no-repeat center;
    background-size: cover;

    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;
}

header {
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    padding: 18px 79px;

    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
}

.header {
    display: flex;
    justify-content: space-between;
    max-width: 1920px;
}

.header-icons {
    display: flex;
    justify-content: space-between;

    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

.header-journey:hover {
    color: #01813F;
}

.svg-head-list, .svg-head-delimiter, .welcome-login-signup {
    margin-right: 25px;
    display: flex;
    align-items: center;
}

.svg-head:hover .svg-head-path {
    fill: #01813F;
}

.svg-head-list {
    display: flex;
    justify-content: flex-end;
}

.welcome-login-signup > span:hover {
    color: #01813F;
}

.svg-head {
    margin-left: 27px;
}

.main-div {
    background: white;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
    width: 444px;
    height: 584px;
    position: absolute;
    top: calc(50% - 292px);
    left: calc(50% - 222px)
}

.green-square {
    position: absolute;
    margin-top: 29px;
}

.main-form-container {
    position: absolute;
    margin-top: 31px;
    margin-left: 61px;
    margin-right: 61px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
}

.login {
    display: flex;
    justify-content: space-between;
}

.login-signup {
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}

.login-login {
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}

.login-login:hover {
    color: #01813F;
    text-decoration-line: underline;
    text-decoration-style: solid;
}

.social-media {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.social-media-button {
    text-decoration: none;
    background-color: #EEEEEE;
    border-radius: 5px;
    width: 158px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}

.social-media-delimiter {
    margin-left: 12px;
}

.google-icon {
    margin-bottom: 4px;
}

.fb-btn {
    background-color: #305DB8;
}

.fb-btn:hover {
    background-color: #022263;
}

.google-btn {
    background-color: #DF4A32;
}

.google-btn:hover {
    background-color: #AB1F09;
}

.or-line {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    margin-top: 31px;
}

.main-form {
    display: flex;
    flex-direction: column;
}

input[type=text] {
    width: 322px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    padding-left: 20px;
    margin-top: 15px;
}

input[type=text]:focus {
    outline: none;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
}

input[type=text]::placeholder {
    color: #BEBEBE;
}

.main-form-label {
    margin-top: 15px;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    display: flex;
    align-items: center;
}
.main-form-checkbox {
    width: 20px;
    height: 20px;
    margin-bottom: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
}

.main-form-checkbox:checked::after {
    content: url("../images/checkbox.svg");
}

.main-form-checkbox-span {
    margin-left: 11px;
}

.main-form-checkbox-span > a {
    color: #3CB878;
}

.main-form-checkbox-span > a:hover {
    color: #01813F;
    text-decoration-line: underline;
    text-decoration-style: solid;
}

.main-form-button {
    margin-top: 20px;
    color: #FFFFFF;
    background-color: #3CB878;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 16px;
    line-height: 16px;
}

.main-form-button:hover {
    background-color: #01813F;
}
