@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background: url("../images/back_img.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 51px 177px 0 161px;
}

.logo1 {
    display: none;
}

.logo-image {
    display: flex;
    justify-content: flex-start;
    column-gap: 8px;
}

.logo-image:hover, .contacts-data > span:hover {
    color: #F26522;
}

.logo-image:hover .logo2 {
    display: none;
}

.logo-image:hover .logo1 {
    display: inline;
}

.logo-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 0;
    text-align: left;
}

.logo-text > span:first-child {
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
}

.logo-text > span:last-child {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
}

.contacts-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    row-gap: 19px;

    font-size: 18px;
    line-height: 18px;
}

main {
    margin: 26px 177px 0 161px;
}

main img {
    width: 300px;
    height: 220px;
}

.main-content-list {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 37px;
    column-gap: 66px;
}

.main-content-list > li {
    font-size: 18px;
    line-height: 18px;
}

.main-content-list > li > a {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    text-align: center;
}

.main-content-list > li:hover > a > span {
    color: #F26522;
}

.main-content-list > li:hover .orange-hover {
    display: flex;
}

.back-image {
    width: 300px;
    height: 220px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.back-image1 {
    background-image: url("../images/shopping.png");
}

.back-image2 {
    background-image: url("../images/sightseeing.png");
}

.back-image3 {
    background-image: url("../images/food.png");
}

.back-image4 {
    background-image: url("../images/bars.png");
}

.back-image5 {
    background-image: url("../images/art.png");
}

.back-image6 {
    background-image: url("../images/walking.png");
}

footer {
    margin: 40px 177px 10px 161px;
}

footer p {
    text-align: center;
    font-size: 18px;
    line-height: 18px;
}

.orange-hover {
    background-color: #F26522;
    display: none;
    height: 55px;
    justify-content: space-between;
}

.orange-hover > p:first-child {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-size: 20px;
    line-height: 20px;
}

.orange-hover_first {
    margin-left: 14px;
}

.orange-hover_first > span:first-child {
    margin-top: 7px;
}

.orange-hover_first > span:last-child {
    margin-bottom: 12px;
}

.orange-hover_second {
    margin-bottom: 12px;
    margin-right: 14px;
}

.orange-hover_second > span::after {
    content: "    >";
    white-space: pre;
}

.orange-hover > p:last-child {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    font-size: 14px;
    line-height: 14px;
}

.orange-hover > p:first-child > span:first-child {
    font-size: 10px;
    line-height: 10px;
}
