@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@1,300;1,400;1,500;1,700&display=swap');

body {
    height: 100vh;
    background-color: #3A4965;

    font-family: 'Arimo', sans-serif;
    font-style: normal;
}

main {
    padding: 22px 80px 22px 20px;
}

.table1 {
    width: 100%;
    margin: 22px 20px;
    background-color: white;
}

.table1, .table1 td {
    border-collapse: collapse;
    text-align: center;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.27);
}

.table1 > tr:first-child > td:first-child {
    width: 34%;
}

.table1 > tr:first-child > td:not(:first-child) {
    width: 22%;
}

.td-head-main-text-first, .td-head-main-text-second, .td-head-main-text-third {
    height: 73px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
}

.td-head-main-text-first {
    background-color: #89C331;
    font-size: 24px;
    line-height: 28px;
}

.td-head-main-text-second {
    background-color: #F04A56;
    font-size: 30px;
    line-height: 28px;
}

.td-head-main-text-third {
    background-color: #20807C;
    font-size: 24px;
    line-height: 28px;
}

.td-head-main > p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #484848;
}

.td-head-main > p > span:first-child {
    font-size: 18px;
    line-height: 28px;
}

.td-head-main > p > span:last-child {
    font-size: 30px;
    line-height: 28px;
}

.td-head-main-price > div {
    display: flex;
}

.td-head-main-price {
    height: 89px;
    font-weight: 700;
    color: #484848;
}

.td-head-main-price > div > p:first-child {
    font-size: 60px;
    line-height: 28px;
    text-transform: uppercase;
    margin-left: 25%;
}

.td-head-main-price > div > p:last-child {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: -25px;
}

.td-head-main-price > div > p:last-child > span:first-child {
    font-size: 24px;
    line-height: 28px;
}

.td-head-main-price > div > p:last-child > span:last-child {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px
}

.table1 tr:nth-child(2n + 2):not(:nth-child(2)) {
    font-weight: 400;
    background-color: #E3E3E3;
    height: 72px;
    text-transform: uppercase;
}

.table1 tr:nth-child(2n + 1):not(:first-child) {
    font-weight: 400;
    background-color: #F2F2F2;
    height: 72px;
    text-transform: uppercase;
}

.table1 tr:last-child {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}

.table1 tr:last-child > td > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table1 tr:last-child > td > div > a {
    font-weight: 700;
    width: 195px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.table1 tr:last-child > td:first-child {
    height: 144px;
    background: #DDDDDD;
}

.table1 tr:last-child > td:not(:first-child) {
    background: #EEEEEE;
}

.table1 tr:last-child > td:first-child > div > a {
    background: #404040;
}

.table1 tr:last-child > td:nth-child(2) > div > a {
    background: #89C331;
}

.table1 tr:last-child > td:nth-child(3) > div > a {
    background: #F04A56;
}

.table1 tr:last-child > td:nth-child(4) > div > a {
    background: #20807C;
}
