@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

body {
    width: 1280px;
    margin: auto;
    background-color: #E5E5E5;
}

body * {
    background-color: white;
}

nav, footer {
    padding-left: 100px;
    padding-right: 100px;
}

.nav-title {
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    line-height: 94px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-title-first {
    color: black;
}

.nav-title-last {
    color: #4BCAFF;
}

.nav-menu {
    display: flex;
    justify-content: center;
    background-color: #35444F;
    height: 69px;
    text-align: center;
    text-decoration: none;
}

.nav-menu-item {
    list-style-type: none;
    border-left: 1px solid #FFFFFF;
    padding: 22px 22px 18px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    background-color: #35444F;
    color: #FFFFFF;
    line-height: 28px;
    text-align: center;
}

.nav-menu-item a {
    background-color: inherit;
}

.nav-menu-item:hover {
    background-color: #222F3A;
}

.nav-menu-item:last-child {
    border-right: 1px solid #FFFFFF;
}

main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 1000px;
}

.div-aside-menu, .main-content {
    margin-top: 50px;
}

.div-aside-menu {
    width: 344px;
    height: 400px;
    border: 1px solid black;
    margin-left: 100px;
}

.aside-menu {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.aside-menu-item {
    height: 55px;
    list-style-type: none;
    text-decoration: none;
    padding-left: 45px;
    padding-top: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
    line-height: 27px;
    opacity: 0.5;
}

.aside-menu-item a {
    background-color: inherit;
}

.aside-menu-item:hover {
    background-color: #DBDBDB;
    padding-left: 60px;
    opacity: 1;
}

.main-content {
    width: 785px;
}

.main-images {
    border: 1px solid black;
    height: 530px;
    margin-right: 100px;
}

.main-images img {
    margin-left: 200px;
    margin-top: 75px;
    width: 320px;
    height: 380px;
}

.main-images img:hover {
    width: 340px;
    height: 400px;
}

.main-text {
    margin-top: 35px;
    margin-right: 100px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.footer-menu {
    display: flex;
    background-color: rgba(99, 105, 110, 0.48);
    height: 69px;
    text-decoration: none;
}

.footer-menu-item {
    text-decoration: none;
    list-style-type: none;
    background-color: rgba(99, 105, 110, 0.00);
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 28px;
    margin-top: 20px;
}

.footer-menu-item a {
    background-color: inherit;
}

.first-menu-item {
    margin-left: 40px;
}

.random-menu-item {
    margin-left: 20px;
}

.last-menu-item {
    margin-left: 100px;
    font-size: 20px;
}

.random-menu-item:hover, .first-menu-item:hover {
    color: #3181A6;
    text-decoration: underline;
    text-decoration-color: #3181A6;
}

footer {
    padding-bottom: 30px;
}

.main-text-opacity {
    opacity: 0.8;
}