@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E5E5E5;
    width: 1280px;
    margin: auto;
}

body * {
    background-color: white;
}

.nav-menu {
    display: inline-block;
    margin-left: 50px;
}

.nav-menu a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #FF0000;
    font-weight: bold;
}

img {
    width: 100%;
    height: 789px;
}

nav, h2 {
    text-align: center;
}

.nav {
    padding: 25px 0;
}

.main-title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
}

.main-text {
    text-align: center;
    margin: 0 67px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2.4px;
    font-family: 'Montserrat', sans-serif;
    opacity: 0.5;
}

.get-started {
    display: block;
    margin: 75px auto 0;
    text-align: center;
    color: #FFFFFF;
    background-color: #FF0000;
    width: 191px;
    height: 51px;
    border-radius: 4px;
    padding: 10px;
    border: 0;
    font-size: 12px;
}

.copyright {
    text-align: right;
    margin-right: 100px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    align-items: center;
    letter-spacing: 2.4px;
}

div .copyright {
    padding: 75px 0 25px;
}